<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation">
                    <a ui-sref=".news">Новости</a>
                </li>
                <li role="presentation">
                    <a ui-sref=".regulations">Устав ЖКХ</a>
                </li>
                <li role="presentation">
                    <a ui-sref=".documents">Уставные документы</a>
                </li>
                <li role="presentation">
                    <a ui-sref=".contacts">Контакты</a>
                </li>
                <li role="presentation">
                    <a ui-sref=".login">Login</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">ЖКХ Гарант</h3>
    </div>


    <div ui-view></div>
</div>


